In [1]:
import os
import pandas as pd
import numpy as np
folder_path = "/Users/martinjurado/Documents/prj/data_challenge/raw_data/"

In [2]:
def list_dir(folder_path, traversed = [], results = []): 
    dirs = os.listdir(folder_path)
    if dirs:
        for f in dirs:
            new_dir = folder_path + f + '/'
            if os.path.isdir(new_dir) and new_dir not in traversed:
                traversed.append(new_dir)
                list_dir(new_dir, traversed, results)
            else:
                results.append([new_dir[:-1], os.stat(new_dir[:-1])])  
    return results

In [3]:
for file_name, stat in list_dir(folder_path):
        print(file_name)

/Users/martinjurado/Documents/prj/data_challenge/raw_data/departments.csv
/Users/martinjurado/Documents/prj/data_challenge/raw_data/jobs.csv
/Users/martinjurado/Documents/prj/data_challenge/raw_data/z_hired_employees.csv

In [14]:
df = pd.read_csv('/Users/martinjurado/Documents/prj/data_challenge/raw_data/departments.csv')
df = df.replace(np.nan, 'null', regex=True)

In [20]:
df.isnull().values.any()
dpp = (12-1)

In [21]:
df[dpp:]

     1 Product Management
11  13     Data Developer